.carousel-container {
  width: 70%;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  padding: 20px;
}

.carousel-slide {
  flex: 1;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}

.carousel-slide img {
  width: 100%;
  max-height: 100%;
}

#prevBtn,
#nextBtn {
  background-color: #444;
  color: #fff;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .carousel-container {
    flex-direction: column;
    align-items: center;
  }

  .carousel-slide {
    flex: 1;
    height: auto;
  }

  .carousel-slide img {
    max-width: 100%;
    max-height: auto;
  }
}

@media (min-width: 768px) {
}
