.addRoom_Form__container {
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}
.addRoom_Form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
.addRoom_Form__title {
  font-size: 32px;
  margin-top: 2.3rem;
}
.addRoom_Form__item {
  position: relative;
  width: 60%;
}
.addRoom_Form__input {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #352d26;
  border-radius: 12px;
  outline: none;
}
.addRoom_Form__text {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: #fff;
  padding: 0px 5px;
}
.addRoom_Form__btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.addRoom_Form__submit {
  width: 60%;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background-color: #4a3f35;
  color: #fa7d09;
  transition: 0.2s;
}
.addRoom_Form__submit:hover,
.addRoom_Form__submit:active {
  background-color: #352d26;
  color: #df7008;
}
.addRoom_Form__link {
  width: 60%;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background-color: #fa7d09;
  text-align: center;
  text-decoration: none;
  color: #f1efef;
  transition: 0.2s;
}
.addRoom_Form__link:hover,
.addRoom_Form__link:active {
  background-color: #df7008;
  color: #cac9c9;
}
.addRoom_select {
  width: 60%;
}
.addRoom_category {
  width: 100%;
}
