.hotel-card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__img {
  width: 30%;
}
.hotel-card h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.hotel-card p {
  font-size: 1rem;
  margin: 10px 0;
  color: #666;
}

.hotel-card-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-button,
.comment-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.like-button:hover,
.comment-button:hover {
  background-color: #ff7700;
}

@media (max-width: 768px) {
  .hotel-card {
    margin: 10px 0;
  }

  .hotel-card h2 {
    font-size: 1.2rem;
  }

  .hotel-card p {
    font-size: 0.9rem;
  }
}
