/* CAROUSEL */
.carousel-container {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #d3b894;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
  flex: 1;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.carousel-slide img {
  max-width: 100%;
  max-height: 100%;
}

#prevBtn,
#nextBtn {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

/* CALENDAR */
.calendar {
  background-color: #f5f0e1;
  border: 2px solid #d3b894;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar h2 {
  text-align: center;
  color: #68462c;
  font-size: 24px;
  margin-bottom: 20px;
}

.calendar-date {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid #d3b894;
  margin: 5px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.calendar-date.selected {
  background-color: #a88e68;
  color: #fff;
}

.calendar-date:hover {
  background-color: #d3b894;
}

/* ABOUT US */
.about-us {
  padding: 20px;
  background-color: #fff;
  border: 2px solid #d3b894;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.about-us h2 {
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.about-us p {
  color: #666;
  font-size: 16px;
  margin: 10px;
}

@media (max-width: 767px) {
  .carousel-container {
    flex-direction: column;
    align-items: center;
  }

  .carousel-slide {
    flex: 1;
    height: auto;
  }

  .carousel-slide img {
    max-width: 100%;
    max-height: auto;
  }

  .calendar-date {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
