/* style.css */

/* Default styles for larger screens */
.card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__text {
  text-align: center;
}

.card__likes {
  display: flex;
  color: red;
  align-items: center;
  margin-top: 10px;
}

.card__likes button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.card__comments {
  margin-top: 10px;
}

.card__comments ul {
  list-style: none;
  padding: 0;
}

.card__comments ul li {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.card__comments input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 10px;
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }

  .card__container {
    flex-direction: column;
  }

  .card__likes {
    justify-content: center;
  }

  .card__likes button {
    margin: 10px 0;
  }

  .card__comments input[type="text"] {
    width: 100%;
  }
}
.card__img {
  width: 20%;
}
