* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
header {
  background-color: #2f2519;
}
.header__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0px;
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.header__item {
  text-decoration: none;
  color: #f1efef;
  font-size: 18px;
}
.header__input {
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  outline: none;
}
