* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

header {
  background-color: #2f2519;
}

.header__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__left {
  display: flex;
  gap: 1.2rem;
}

.header__right {
  display: flex;
  gap: 1.2rem;
}

.header__item {
  text-decoration: none;
  color: #f1efef;
  font-size: 18px;
}

@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__left,
  .header__right {
    flex-direction: column;
    gap: 0.5rem;
  }

  .header__item {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }

  .header__left,
  .header__right {
    flex-direction: row;
    gap: 1.2rem;
  }

  .header__item {
    font-size: 18px;
  }
}
