.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info {
  flex: 1;
  padding-right: 20px;
}

.footer-social {
  flex: 1;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

.social-icons {
  display: flex;
}

.social-icon {
  margin-right: 10px;
}

.social-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-icon img:hover {
  transform: scale(1.2); /* Увеличение иконки при наведении */
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .footer-info p {
    margin: 0;
    margin-top: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
