.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: Indigo;
}

.loginForm__container {
  background-color: wheat;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginForm__block {
  text-align: center;
}

.loginForm__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.loginForm__item {
  margin-bottom: 15px;
}

.loginForm__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.loginForm__text {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: all 0.2s ease;
}

.loginForm__input:focus + .loginForm__text,
.loginForm__input:valid + .loginForm__text {
  top: -15px;
  font-size: 12px;
  color: orange;
}

.loginForm__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.loginForm__submit {
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.loginForm__submit:hover {
  background-color: darkorange;
}

.loginForm__link {
  text-decoration: none;
  color: #cd5c5c;
  font-weight: bold;
}
